<h1><%= current_user.name %></h1>
<span class="btn btn-default centered"><%= link_to "Voir mes tâches", current_user %></span>
<span class="btn btn-default centered"><%= link_to "Voir mes tâches", current_user %></span>
