<footer class="footer">
  <!--<small>
    TOO DOO by <a href="http://www.michaelhartl.com/">DESCHASEAUX_TRABAUD</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "A propos",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>-->
</footer>